/*Don't need an introduction statement*/


/*Just writing the element will call and affect the corresponding elements in the HTML file
*/
body {
            margin: auto;
        }

input {
            margin:auto; width: 30%;
            text-align: center;
        }
button { color:rgb(90, 90, 90); background-color: whitesmoke; border-radius: 6px; padding: 8px;}

/* Calling a 'class' from the HTML file is done with a '.' */
.logo {position: relative; margin:auto; height: 100px; width: 100px;
        
        }
.centereditem {text-align: center;
    }

/*Calling an ID from the HTML file is done with a '#' */

